.popular-wrapper {
    background-color: #ffffff;
  }
  
  /* العنوان + الدوتس */
  .popular-header {
    display: flex;
    align-items: center;
  }
  
  
  /* الجريد */
  .popular-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 32px;
  }
  
  @media (max-width: 992px) {
    .popular-header {
      flex-direction: column;
      gap: 16px;
    }
  
    .popular-grid {
      grid-template-columns: repeat(2, 1fr);
    }
  }
  
  @media (max-width: 640px) {
    .popular-grid {
      grid-template-columns: 1fr;
    }
  
    .popular-header {
      align-items: center;
      text-align: center;
    }
  }
  
  /* --------- الكارد --------- */
  
  .pro-card {
    position: relative;
    background-color: #ffffff;
    border-radius: 24px;
    padding: 32px 24px 26px;
    box-shadow: 0 14px 40px rgba(0, 0, 0, 0.05);
    overflow: visible;
  }
  
  /* الباكجراوند الفاتحة جوّه الكارد */
  .pro-card::before {
    content: "";
    width: 100%;
    height: 75%;
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: #e9f4f2;
    border-radius: 12px;
    z-index: 0;
    transform: scaleY(0);
    transform-origin: bottom;
    transition: all 0.3s ease-in-out;
  }
  
  .pro-card:hover::before {
    transform: scaleY(1);
  }
  /* الصورة */
  .card-image-wrap {
    position: relative;
    z-index: 2;
    display: flex;
    justify-content: center;
  }
  
  .product-img {
    width: 212px;
    height: 213px;
    object-fit: contain;
    margin-top: -40px;
    transition: 0.3s ease;
  }
  
  .pro-card:hover .product-img {
    transform: translateY(-10px);
  }
  
  /* الجسم الداخلي */
  .card-body-2 {
    position: relative;
    z-index: 3;
    margin-top: 55px;
  }
  
  /* الاسم + السعر + الريتنج */
  .title-price-row {
    display: flex;
    gap: 12px;
  }
  
  .card-title {
    font-weight: 700;
    color: #111111;
    margin-bottom: 6px;
  }
  
  .rating-row {
    display: flex;
    gap: 2px;
  }
  
  .star {
    color: #ffb400;
    font-size: 14px;
  }
  
  .price-text {
    font-size: 18px;
    font-weight: 800;
    color: #111111;
  }
  
  /* Order Now + الدايرة */
  .order-row {
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  .order-btn {
    padding: 10px 32px;
    border-radius: 9999px;
    background-color: #007a59;
    color: #ffffff;
    border: none;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
    transition: background 0.2s ease;
  }
  
  .order-btn:hover {
    background-color: #036149;
  }
  
  .icon-circle {
    width: 45px;
    height: 45px;
    border-radius: 9999px;
    border: 1px solid #FF4033;
    color: #FF4033;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: all 0.2s ease;
  }